<section id="about">
  <div class="container text-center">
    <h2>About me</h2>
    <hr>
    <p class="lead">I like coding challenges. It's frustrating but that is one of good ways to improve my programming skills effectively. Currently I'm working on several open-source projects. I'm happy that I can make programs that make our life easier and more fun.</p>

    <div class="row">
      <div class="col-sm-6">
        <h3>Learn to make good programs</h3>
        <ul class="list-unstyled">
          <li>Software Development course in Bloc Programming Institute</li>
          <li>Bachelor's degree in Computer and Electronic Engineering</li>
          <li>1+ years of experience</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Enjoy making good programs</h3>
        <ul class="list-unstyled">
          <li>Experiences in creating web apps.</li>
          <li>Open source contributions to Rails community</li>
          <li>Creative, forward thinker</li>
        </ul>
      </div>
    </div> <!-- .row -->
  </div> <!-- /.container -->
</section>