<section id="about">
  <div class="container text-center">
    <h2>About me</h2>
    <hr>
    <p class="lead">I'm a computer science graduate, a software developer, and an owner of SageDataForce.<br>I assist organizations meet their sales, marketing, and data challenges by developing customized software applications.</p>

    <div class="row">
      <div class="col-sm-6">
        <h3>Academically Knowledgeable</h3>
        <ul class="list-unstyled">
          <li>Developed Rails-like framework from scratch</li>
          <li>Software Development course in Bloc Programming Institute</li>
          <li>Bachelor's degree in Computer and Electronic Engineering</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Professionally Adept</h3>
        <ul class="list-unstyled">
          <li>Contributed to 7+ open-source projects</li>
          <li>Made 3 apps(Skills) for Amazon Alexa’s voice-enabled platform</li>
          <li>Developed 15+ Full-Stack Websites</li>
          <li>Developed 5+ WordPress templates/themes</li>
        </ul>
      </div>
    </div> <!-- .row -->
  </div> <!-- /.container -->
</section>