<section id="about">
  <div class="container text-center">
    <h2>About me</h2>
    <hr>
    <p class="lead">Nam et libero malesuada tellus luctus tempor. Quisque posuere lectus non quam pharetra porta tincidunt sit amet turpis. Fusce ullamcorper in purus sed ultrices. Donec dapibus eros id suscipit lobortis.</p>

    <div class="row">
      <div class="col-sm-6">
        <h3>Learn to make a good program</h3>
        <ul class="list-unstyled">
          <li>Bachelor's degree in Computer and Electronic Engineering</li>
          <li>2+ years of experience</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>Enjoy to make a good program</h3>
        <ul class="list-unstyled">
          <li>Open source contributions to Rails community</li>
          <li>Creative, forward thinker</li>
        </ul>
      </div>
    </div> <!-- .row -->
  </div> <!-- /.container -->
</section>