<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What I can do</h2>
        <hr>
      </div>
    </div> <!-- .row -->
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <div class="skill-box">
          <i class="fa fa-4x fa-diamond text-primary"></i>
          <h3>Ruby on Rails</h3>
          <ul class="text-gray list-unstyled">
            <li>OOP with Ruby</li>
            <li>Ruby on Rails</li>
            <li>TDD using RSpec</li>
            <li>API programming and design</li>
          </ul>
        </div> <!-- .skill-box -->
      </div> <!-- .col-md-3 -->
      <div class="col-md-3 col-sm-6 text-center">
        <div class="skill-box">
          <i class="fa fa-4x fa-sitemap text-primary"></i>
          <h3>JavaScript</h3>
          <ul class="text-gray list-unstyled">
            <li>HTML, CSS, Bootstrap</li>
            <li>OOP with JavaScript</li>
            <li>jQuery and DOM scripting</li>
            <li>AngularJS, Node.js</li>
            <li>HAML, SASS, LESS</li>
          </ul>
        </div> <!-- .skill-box -->
      </div> <!-- .col-md-3 -->
      <div class="col-md-3 col-sm-6 text-center">
        <div class="skill-box">
          <i class="fa fa-4x fa-database text-primary"></i>
          <h3>Database</h3>
          <ul class="text-gray list-unstyled">
            <li>SQLite</li>
            <li>PostgreSQL</li>
            <li>MySQL</li>
          </ul>
        </div> <!-- .skill-box -->
      </div> <!-- .col-md-3 -->
      <div class="col-md-3 col-sm-6 text-center">
        <div class="skill-box">
          <i class="fa fa-4x fa-github text-primary"></i>
          <h3>Familiarity of</h3>
          <ul class="text-gray list-unstyled">
            <li>Heroku</li>
            <li>Git</li>
            <li>AWS</li>
            <li>Open Source Project</li>
          </ul>
        </div> <!-- .skill-box -->
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>