// ========== General Styling ==========
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family-main;
  font-size: $font-size;
  background: url(../img/bg.jpg) top left repeat;
}

hr {
  border-color: $theme-primary;
  border-width: 3px;
  max-width: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

section {
  padding: 60px 0;
  @media (max-width: 568px) { padding: 50px 20px; }
}

a {
  color: $link-color;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover {
  color: $hover-color;
  text-decoration: none;
  cursor: pointer;
}

a:active, a:hover {
  outline-width: 0;
}


// ========== Bootstrap Styling ==========
.navbar {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: $font-family-nav;
  background-color: $theme-dark;
}

.navbar-brand {
  font-weight: 700;
  &:focus {
    outline: none;
  }
}

.navbar-custom {
  a {
    color: #fff;
  }
  .nav {
    li a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
    }
    li a:focus {
      outline: none;
      background-color: transparent;
    }
    li a:hover, li.active a {
      outline: none;
      background-color: rgba(255,255,255,.2);
    }
  }
}

.navbar-toggle {
  .icon-bar {
    background-color: #fff;
  }
  &:focus, &:active {
    outline: none;
  }
}

@media (min-width: 568px) {
  .navbar {
    padding: 20px 0;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: $theme-dark;
  }
}


.btn-default {
  @include button-variant($theme-dark, #fff, #fff);
}

.btn-primary {
  @include button-variant(#fff, $theme-primary, $theme-primary);
}

.btn {
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}


.text-primary {
    color: $theme-primary;
}


// ========== Custom Styling ==========
.text-faded {
  color: rgba(#fff, .7);
}

.text-gray {
  color: #777;
}

.line {
	max-width: 100%;
  background-color: #fff;
  display: block;
}

.margin-bottom {
  margin-bottom: 20px;
}

// ========== Specific Styling ==========
#header {
  display: table;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/header.jpg) 100% 100% repeat fixed;
  background-size: cover;
  background-position: center;
  .header-content {
    display: table-cell;
    vertical-align: middle;
    padding: 100px 15px 10px;
    color: #fff;
    text-align: center;
    .header-content-inner {
      h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: $font-family-heading;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        color: rgba(#fff, .7);
        font-size: 1em;
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 768px) {
    .header-content {
      padding: 0 50px;
      h1 {font-size: 55px;}
      p {font-size: 18px;}
    }
  }
}


#skills {
  background-color: $theme-dark;
  color: #fff;
  @include text-antialiased;
  .skill-box {
    margin: 50px auto 0;
    @media (min-width: 992px) { margin: 20px auto 0; }
    li {
      font-size: $font-size-sm;
    }
  }
}


#projects {
  background-color: #fff;
  img {
    width: 100%;
  }
  p {
    margin: 30px 0;
  }
  .project-heading {
    margin-top: 0;
    display: inline-block;
    margin-right: 15px;
    @media (max-width: 1200px) {
      margin: 20px 0 0 0;
      display: block;
    }
  }
  .labels {
    li {
      color: #fff;
      background-color: $theme-primary;
      text-shadow: 0 1px 0 rgba(0,0,0,.15);
      line-height: 32px;
      padding: 4px 9px;
      display: inline;
      border-radius: 4px;
      font-size: $font-size-sm;
    }
  }
  .carousel-indicators {
    bottom: -120px;
    .active {
      width: auto;
      background-color: transparent;
      border-radius: 0;
      a {
        padding: 5px 3px;
        border-bottom: 2px solid $theme-primary;
      }
    }
    li {
      width: auto;
      text-indent: inherit;
      border: none;
    }
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none;
    color: $theme-primary;
    width: auto;
  }
  .carousel-inner {
    @media (max-width: 1200px) {
      text-align: center;
      // padding: 20px;
    }
  }
  .indicator-heading {
    text-align: center;
    margin-top: 50px;
    @media (max-width: 1200px) { margin-top: 30px; }
  }
  @media (max-width: 568px) {
    .indicator-heading, .carousel-indicators {
      display: none;
    }
  }
  .modal-body p:nth-child(2) {
    text-align: center;
  }
}
.last-project {
  padding-bottom: 110px;
  @media (max-width: 568px) { padding-bottom: 50px; }
}


#testimonial {
  .comment {
    margin-bottom: 60px;
    img {
      display: block;
      margin: 0 auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      @media (max-width: 1023px) { width: 150px; }
    }
    blockquote {
      padding: 0;
      border: none;
      font-style: italic;
      text-align: left;
      cite {
        display: block;
        color: #777;
        margin: 15px 0 0 0;
      }
    }
    @media (max-width: 568px) {
      margin-bottom: 45px;
      blockquote {
        margin-top: 20px;
      }
    }
  }
}


#contact {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/footer.jpg) repeat fixed;
  background-size: cover;
  .contact-header {
    color: #fff;
  }
  .fa {
    color: $theme-primary;
    &:hover {
      color: darken($theme-primary, 10%);
    }
  }
  form {
    input[type="text"], input[type="email"] {
      width: 100%;
      display: block;
      padding: 0.5em;
      margin: 0 0 1em;
      border-radius: 6px;
      border: 1px solid #cfcfcf;
      box-shadow: none;
    }
    input[type="submit"] {
      border-radius: 0.3em;
      border: 1px solid $link-color;
      background-color: $link-color;
      color: #fff;
      padding: 0.5em 0.75em;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      &:hover {
        border-color: $hover-color;
        background-color: $hover-color;
        color: #fff;
      }
    }
    textarea {
      border-radius: 6px;
      padding: 0.5em;
      margin: 0 0 1em;
      display: block;
      width: 100%;
      border: 1px solid #cfcfcf;
      box-shadow: none;
    }
  }
}


footer {
  background-color: #3e4249;
  @include text-antialiased;
  color: #fff;
  padding: 20px 0 10px;
  text-align: center;
  small {
    letter-spacing: .1em;
    display: inline-block;
  }
  ul {
    display: inline-block;
    margin-left: 15px;
    li {
      display: inline-block;
      margin-left: 15px;
    }
  }
  .fa {
    color: #fff;
    &:hover {
      color: $theme-primary;
    }
  }
  @media (max-width: 568px) {
    padding: 10px 0 5px;
    small {
      font-size: .7em;
    }
  }
}

#thank-you {
  height: 94%;
  text-align: center;
  .img-wrapper {
    padding: 0 30px 30px;
    img {
      display: block;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
  }
  h1 {
    margin: 20px 0;
  }
  p {
    margin: 20px 0 30px;
  }
}