---
---

@charset "utf-8";

// variables.less
$theme-primary: #FDCD3B;
$theme-dark: #3e4249;
$link-color: #5EA4F7;
$hover-color: #4288DC;
$font-family-nav: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-heading: 'alwyn-new-rounded-web', 'Raleway', Helvetica, sans-serif;
$font-family-main: 'Raleway', 'Helvetica', Arial, sans-serif;

$font-size: 16px;
$font-size-sm: 14px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "mixins", "base";